body{
    background-color: rgba(130, 194, 47, 0.61);
    }
    p{
        color: rgba(0, 0, 0, 0.534)0, 0, 0, 0.534) ;
        font-family: ;
        font-size:
        background: ;vg
        } 
        p{
            color:black
            font-family:darkgray ;
            font-size::backdrop ;
            background:first-line;
            }