body{
    background-color: rgb(28, 29, 26);
    }
    p{
        color: rgba(0, 0, 0, 0)0, 0, 0, 0.534) ;
        font-family: ;
        font-size:
        background: ;vg
        } 
        p{
            color:rgb(92, 252, 0)
            font-family:aquamarine ;
            font-size::target-text
            background:first-line;
            }